
<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix" >
			<div class="jarallax" style="background-image: url(assets/images/breadcrumb/0.breadcrumb-bg.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">KRM events</span>
									<h2 class="big-title">KRM <strong>event</strong></h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a a [routerLink]="['/home']"class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">event Resquest</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->





	





		<!-- event-section - start
		================================================== -->
		<section id="event-section" class="event-section bg-gray-light sec-ptb-100 clearfix" >
			<div class="container">
				<div class="row">

					
					<!-- - start -->
					<div class="col-lg-12 col-md-12 col-sm-12" >

						<div class="search-result-form" >
							<form action="#!">
								<ul>

									
									
								

								</ul>
							</form>

							<ul class="nav event-layout-btngroup">
                                
								<li><a class="active"  data-toggle="tab" href="#list-style"><i class="fas fa-th-list"></i></a></li>
								
							</ul>
						</div>

						<div class="tab-content" >
							

							
                            <div id="list-style" class="tab-pane fade in active show">

								<!-- event-item - start -->
								<div class="event-list-item clearfix"   style="border-radius: 50px;  height: auto; border-color: orangered;">

									

									<!-- event-content - start -->
									
                                    <div class="event-content" style="display: flex; justify-content: space-between; align-items: center;">
                                       
                                        
                                        <!-- Section de droite pour le titre et les informations existantes -->
                                        <div class="event-title mb-15" style="margin-left: 30px;">
                                            <h3 class="title" style="margin-top: 10px;">
                                                Barcelona <strong>Food truck Festival 2018</strong>
                                            </h3>
                                            <span class="ticket-price yellow-color">LOADING...</span>
                                            
                                        </div>
                                          <!-- Statut -->
                                          <div class="status" style="padding: 5px ;  background-color: lightgray; border-radius: 5px;">
                                            Status: <span class="status-text">Accepted</span>
                                        </div>
                                         <!-- Section de gauche pour les boutons et le statut -->
                                         <div class="left-section" style="display: flex; align-items: center;">
                                            <!-- Bouton Update -->
                                            
                                            <i class="fas fa-edit update-icon" style="color: rgb(78, 78, 212); font-size: 20px; margin-right: 20px; cursor: pointer;"></i>
                                            <!-- Bouton Delete -->
                                            <i class="fas fa-trash delete-icon" style="color: rgb(154, 32, 32); font-size: 20px; margin-right: 10px; cursor: pointer;"></i>
                                            
                                            
                                        </div>
                                    </div>
                                    
									<!-- event-content - end -->

								</div>
								<!-- event-item - end -->

								

								<div class="pagination ul-li clearfix">
									<ul>
										<li class="page-item prev-item">
											<a class="page-link" href="#!">Prev</a>
										</li>
										<li class="page-item active" ><a class="page-link" href="#!">01</a></li>
										
										<li class="page-item next-item">
											<a class="page-link" href="#!">Next</a>
										</li>
									</ul>
								</div>

							</div>

                            
						</div>

					</div>
					<!-- - end -->
					
				</div>
			</div>
		</section>
		<!-- event-section - end
		================================================== -->


        