<div id="request-modal" class="reglog-modal-wrapper mfp-hide clearfix" >
    <div id="booking" class="section">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="booking-form">
              <div class="form-header">
                <h1>Make your Request</h1>
              </div>
              <form>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Event Name">
                  
                </div>
                
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" type="date" required >
                      <span class="form-label">Event Date</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" type="text" required placeholder="Event Capacity">
                      <span class="form-label">Capacity</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <input class="form-control" type="input" required placeholder="Enter Event City">
                      <span class="form-label">City</span>

                     
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="form-group">
                        <input class="form-control" type="input" required placeholder="Event Location">
                        <span class="form-label">Address</span>
  
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input class="form-control" type="input" required placeholder="Ticket Price">
                      <span class="form-label"> Price</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <select class="form-control" required>
                        <option value="" selected hidden>Categories</option>
                        <option style="color:  black;">Sport</option>
                        <option style="color: black;">Art</option>
                        <option style="color: black;">Music</option>
                        <option style="color: black;">Culture</option>
                      </select>
                      
                      <span class="select-arrow"></span>
                      <span class="form-label">Categories</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                     
                      <select id="hashtags" class="form-control"  multiple required>
                      
                        <option >#hashtag1</option>
                        <option >#hashtag2</option>
                        <option >#hashtag3</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Description...">
                    
                  </div>
                </div>
                <div class="form-btn">
                  <button class="submit-btn">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
       
      </div>
     
    </div>
   
    <a class="popup-modal-dismiss" href="#!">
      <i class="fas fa-times"></i>
    </a>
  </div>